{% extends "layout.html" %}

{% block navbar %}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard')}}">Dashboard</a></li>
        <li><a href="{{ url_for('animals') }}">Animals</a></li>
        <li><a href="{{ url_for('employees') }}">Employees</a></li>
        <li><a href="{{ url_for('vets') }}">Vets</a></li>
        <li><a href="{{ url_for('people') }}">People</a></li>
        <li><a href="{{ url_for('tasks') }}">Tasks</a></li>
        <li><a href="{{ url_for('medicalrecords') }}">MedicalRecords</a></li>
        <li><a href="{{ url_for('adoptions') }}">Adoptions</a></li>
    </ul>
</div>
{% endblock %}
