{% extends "base_dashboard.html" %}

{% block content %}
<div class="search bar">
  <h3>Search for Employee</h3>
  <br>
  <form method="post" action="">
    <p>Search by FirstName or LastName</p>
     <input type="text" name="query" default="all" value="{{
        request.form.query }}">
    <input class="btn btn-default" type="submit" value="Search">
  </form>
</div>
<div class= "New Employee">
  <a href="{{url_for('new_employee')}}">
      <input class="btn btn-primary btn-large" type="submit" value="Add new employee">
  </a>
</div>
<div class="results_table">
  <h3>People Added</h3>
  <br>
  <table>
  <tr>
    <th>WorkerId</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <th>Company Email</th>
    <th>Salary</th>
    <th>Link</th>
  </tr>
  {% for post in posts.items %}
    <tr>
      <th>{{post.WorkerID}}</th>
      <th>{{post.FirstName}}</th>
      <th>{{post.LastName}}</th>
      <th>{{post.Phone}}</th>
      <th>{{post.CompanyEmail}}</th>
      <th>{{post.Salary}}</th>
      <th><a href = "{{url_for('worker', id = post.WorkerID)}}">details</a></th>
    </tr>
  {% endfor %}
  </table>
  {% if posts.has_prev %}<a href="{{ url_for('employees', page=posts.prev_num) }}">&lt;&lt; Previous</a>{% else %}&lt;&lt; Previous{% endif %} |
  {% if posts.has_next %}<a href="{{ url_for('employees', page=posts.next_num) }}">Next &gt;&gt;</a>{% else %}Next &gt;&gt;{% endif %}
</div>

{% endblock %}
