{% extends "base_dashboard.html" %}

{% block content %}
<div class="container">
  <h3>Add New Task</h3>
  <br>
  <form action="" method="post">
    <p>Worker ID: <input type="number" required placeholder="Worker's ID" name="wID" value="{{
      request.form.wID }}"></p>
    <p>Animal: <input type="number" placeholder="AnimalID" name="aID" value="{{
      request.form.aID }}"></p>
    <p>Task:
      <select id="task" name="task">
          <option value="Cleaning and Grooming">Cleaning and Grooming</option>
          <option value="Exercise">Exercise</option>
          <option value="Feeding">Feeding</option>
          <option value="Medicating">Medicating</option>
      </select>
    </p>
    <input class="btn btn-default" type="submit" value="Insert">
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}
</div>
<div class="results_table">
  <h3>Tasks Added</h3>
  <br>
  <table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Task</th>
    <th>Animal</th>
    <th>Links</th>
  </tr>
  {% for post in posts.items %}
    <tr>
      <th>{{post.FirstName}}</th>
      <th>{{post.LastName}}</th>
      <th>{{post.Description}}</th>
      <th>{{post.Name}}</th>
      <th><a href = "{{url_for('task', id = post.Task)}}">details</a></th>
    </tr>
  {% endfor %}
  </table>
  {% if posts.has_prev %}<a href="{{ url_for('new_task', page=posts.prev_num) }}">&lt;&lt; Previous</a>{% else %}&lt;&lt; Previous{% endif %} |
  {% if posts.has_next %}<a href="{{ url_for('new_task', page=posts.next_num) }}">Next &gt;&gt;</a>{% else %}Next &gt;&gt;{% endif %}
</div>
{% endblock %}
