{% extends "base_dashboard.html" %}

{% block content %}
<div class="container">
  <h3>Add New Animals</h3>
  <br>
  <form action="" method="post">
    <p>Name: <input type="text" required placeholder="Name" name="name" value="{{
      request.form.name }}"></p>
    <p>DateOfBirth: <input type="date" placeholder="Estimated DateOfBirth" name="dob" value="{{
      request.form.dob }}"></p>
    <p>Breed: <input type="text" placeholder="Breed" name="breed" value="{{
      request.form.breed }}"></p>
    <p>Gender: <input type="text" required placeholder="Gender" name="gender" value="{{
      request.form.gender }}"></p>
    <p>Weight: <input type="number" placeholder="Weight" name="weight" value="{{
      request.form.weight }}"></p>
    <p>Healthy: <input type="number" placeholder="healthy:1" name="healthy" value="{{
      request.form.healthy }}"></p>  
    <input class="btn btn-default" type="submit" value="Insert">
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}
</div>

<div class="results_table">
  <h3>Animals Added</h3>
  <br>
  <table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Breed</th>
    <th>Healthy</th>
    <th>Link</th>
  </tr>
  {% for post in posts.items %}
    <tr>
      <th>{{post.AnimalID}}</th>
      <th>{{post.Name}}</th>
      <th>{{post.DateOfBirth}}</th>
      <th>{{post.Breed}}</th>
      <th>{{post.Healthy}}</th>
      <th><a href = "{{url_for('animal', id = post.AnimalID)}}">details</a></th>
    </tr>
  {% endfor %}
  </table>
  {% if posts.has_prev %}<a href="{{ url_for('new_animal', page=posts.prev_num) }}">&lt;&lt; Previous</a>{% else %}&lt;&lt; Previous{% endif %} |
  {% if posts.has_next %}<a href="{{ url_for('new_animal', page=posts.next_num) }}">Next &gt;&gt;</a>{% else %}Next &gt;&gt;{% endif %}
</div>

{% endblock %}
