{% extends "base_dashboard.html" %}

{% block content %}
<div class="container">
  <h3>Add New Person</h3>
  <br>
  <form action="" method="post">
    <p>Name: <input type="text" required placeholder="Name" name="name" value="{{
      request.form.name }}"></p>
    <p>Email: <input type="email" placeholder="email" name="email" value="{{
      request.form.email }}"></p>
    <p>Phone Number: <input type="tel" placeholder="phone" name="phone" value="{{
      request.form.phone }}"></p>
    <p>Address: <input type="test" placeholder="address" name="address" value="{{
      request.form.address }}"></p>
    <input class="btn btn-default" type="submit" value="Insert">
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}
</div>

<div class="results_table">
  <h3>People Added</h3>
  <table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th>Address</th>
    <th>Link</th>
  </tr>
  {% for post in posts.items %}
    <tr>
      <th>{{post.FirstName}}</th>
      <th>{{post.LastName}}</th>
      <th>{{post.Phone}}</th>
      <th>{{post.Email}}</th>
      <th>{{post.Address}}</th>
      <th><a href = "{{url_for('person', id = post.PersonID)}}">details</a></th>
    </tr>
  {% endfor %}
  </table>
  {% if posts.has_prev %}<a href="{{ url_for('new_person', page=posts.prev_num) }}">&lt;&lt; Previous</a>{% else %}&lt;&lt; Previous{% endif %} |
  {% if posts.has_next %}<a href="{{ url_for('new_person', page=posts.next_num) }}">Next &gt;&gt;</a>{% else %}Next &gt;&gt;{% endif %}
</div>

{% endblock %}
